:root {
    /*Colours*/
    --color-text:#F7FBFE;
    --color-primary:#F75005;
    --color-secondary:#00285E;
    --color-dark:#222F4F;
    --color-bg:#001427;

    /*Fonts*/
    --font-roboto: "Roboto";
}